.background {
    background: center no-repeat #27272c;
}

.logo {
    background-image: url(assets/logo.png);
}

.progressBar {
    background-color: rgb(243, 52, 110);
}

.splash {
    background-image: url(assets/splash.jpg);
}

.watermark {
    background-image: url(assets/logo.png);
    background-size: 57px 57px;
}
